branches:
  only:
    - master
    - release
services:
  - docker

before_install:
  - docker build -t $DOCKER_ID/team-balance-app-server-test -f ./server/Dockerfile.test ./server
  - docker run $DOCKER_ID/team-balance-app-server-test

script:
  - docker build -t $DOCKER_ID/team-balance-app-client ./client_react
  - docker build -t $DOCKER_ID/team-balance-app-server ./server
  - docker build -t $DOCKER_ID/team-balance-app-nginx ./nginx
  # Login to Docker
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  # Push images to Docker Hub
  - docker push $DOCKER_ID/team-balance-app-client
  - docker push $DOCKER_ID/team-balance-app-server
  - docker push $DOCKER_ID/team-balance-app-nginx

deploy:
  - provider: elasticbeanstalk
    region: eu-central-1
    app: TeamBalanceApp
    env: Teambalanceapp-dev-env
    bucket_name: elasticbeanstalk-eu-central-1-623682165123
    bucket_path: team-balance-app-dev
    on:
      branch: master
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
  - provider: elasticbeanstalk
    region: eu-central-1
    app: TeamBalanceApp
    env: Teambalanceapp-env
    bucket_name: elasticbeanstalk-eu-central-1-623682165123
    bucket_path: team-balance-app
    on:
      branch: release
    access_key_id: $AWS_ACCESS_KEY
    secret_access_key: $AWS_SECRET_KEY
