<mat-card>
  <mat-card-title>Profile</mat-card-title>
  <mat-card-content>
    <form [formGroup]="formControl" (ngSubmit)="update()">
      <div>
        <mat-form-field>
          <input matInput placeholder="First name" formControlName="firstName" maxlength="50">
          <mat-error *ngIf="firstName.hasError('required')">First name is <strong>required</strong></mat-error>
          <mat-error *ngIf="firstName.hasError( 'maxlength')">You have more than 50 characters</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Last name" formControlName="lastName" maxlength="50">
          <mat-error *ngIf="lastName.hasError('required')">Last name is <strong>required</strong></mat-error>
          <mat-error *ngIf="lastName.hasError( 'maxlength')">You have more than 50 characters</mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput placeholder="Phone" formControlName="phone" maxlength="9">
          <mat-error *ngIf="phone.hasError('required')">Phone number is <strong>required</strong></mat-error>
          <mat-error *ngIf="phone.hasError( 'maxlength')">You have more than 9 characters</mat-error>
          <mat-error *ngIf="phone.hasError( 'pattern')">Should be valid phone (9 digits)</mat-error>
        </mat-form-field>
      </div>
      <div class="rating-container">
        <label for="rating">Rating</label>
        <mat-slider id="rating" min="1" max="100" thumbLabel="true" formControlName="rating"></mat-slider>
      </div>

      <mat-error *ngIf="formControl.hasError('internalError')">
        Something went wrong. Please try again later...
      </mat-error>

      <div>
        <button mat-raised-button color="primary" [disabled]="formControl.invalid">Update</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
