spring:
  jpa:
    database: POSTGRESQL
    show-sql: true
    generate-ddl: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
          batch_size: 10
        order_inserts: true
  datasource:
    platform: postgres
    url: jdbc:postgresql://${PGHOST:localhost}:${PGPORT:5432}/teambalance
    username: ${PGUSER:postgres}
    password: ${PGPASSWORD:root}

  sendgrid:
    api-key: ${SENDGRID_API-KEY:dummy}

cors:
  origins:
    - http://localhost:4200
    - http://localhost:3000
