<h2 mat-dialog-title>Add game</h2>
<mat-dialog-content>
	<form [formGroup]="formControl" (ngSubmit)="saveGroup()">
		<mat-form-field>
			<input matInput placeholder="Name" formControlName="name">
			<mat-error *ngIf="name.hasError('required')">
				Name is <strong>required</strong>
			</mat-error>
		</mat-form-field>

		<mat-form-field>
			<input matInput [min]="minDate" formControlName="startDate" [matDatepicker]="picker"
				placeholder="Choose a start date">
			<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
			<mat-datepicker #picker></mat-datepicker>
		</mat-form-field>

		<mat-form-field>
			<input matInput type="time" placeholder="Start time" formControlName="startTime">
		</mat-form-field>

		<div>
			<button mat-button mat-dialog-close color="accent">Cancel</button>
			<button mat-button type="submit" color="primary" [disabled]="formControl.invalid">Submit</button>
		</div>
	</form>
</mat-dialog-content>