<h2 mat-dialog-title>Leave feedback</h2>
<mat-dialog-content>
    <form [formGroup]="formControl" (ngSubmit)="saveFeedback()">
        <mat-form-field>
            <textarea matInput
                      cdkTextareaAutosize
                      cdkAutosizeMinRows="1"
                      #messageInput
                      maxlength="500"
                      placeholder="Your feedback"
                      formControlName="message"></textarea>
            <mat-hint align="end">{{messageInput.value.length}} / 500</mat-hint>
            <mat-error *ngIf="message.hasError('required')">
                Feedback is <strong>required</strong>
            </mat-error>
            <mat-error *ngFor="let error of message.errors?.validationErrors">
                {{ error }}
            </mat-error>
        </mat-form-field>

        <mat-error *ngIf="formControl.hasError('internalError')">
            Something went wrong. Please try again later...
        </mat-error>

        <div>
            <button mat-button mat-dialog-close color="accent">Cancel</button>
            <button mat-button type="submit" color="primary" [disabled]="formControl.invalid">Submit</button>
        </div>
    </form>
</mat-dialog-content>
