<mat-card>
  <mat-card-title>Registration</mat-card-title>
  <mat-card-content>
<form [formGroup]="formControl" (ngSubmit)="register()">
  <div>
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="firstName">
      <mat-error *ngIf="firstName.hasError('required')">First name is <strong>required</strong></mat-error>
<!--      <mat-error *ngIf="firstName.hasError( 'maxlength')">You have more than 50 characters</mat-error>-->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Last Name" formControlName="lastName">
      <mat-error *ngIf="lastName.hasError('required')">Last name is <strong>required</strong></mat-error>
<!--      <mat-error *ngIf="firstName.hasError( 'maxlength')">You have more than 50 characters</mat-error>-->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="E-mail" formControlName="email">
      <mat-error *ngIf="email.hasError('required')">Email is <strong>required</strong></mat-error>
<!--      <mat-error *ngIf="firstName.hasError( 'maxlength')">You have more than 50 characters</mat-error>-->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
      <mat-error *ngIf="password.hasError('required')">Password is <strong>required</strong></mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input type="password" matInput placeholder="Confirm Password" formControlName="confirmPassword">
      <mat-error *ngIf="formControl.controls['confirmPassword'].pristine || formControl.controls['confirmPassword'].errors?.MatchPassword">Password does not match</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Phone number" formControlName="phone">
      <mat-error *ngIf="phone.hasError('required')">Phone number is <strong>required</strong></mat-error>
<!--      <mat-error *ngIf="firstName.hasError( 'maxlength')">You have more than 32 characters</mat-error>-->
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput type="number" placeholder="Rating" formControlName="rating">
      <mat-error *ngIf="rating.hasError('required')">Rating is <strong>required</strong></mat-error>
<!--      <mat-error *ngIf="firstName.hasError( 'maxlength')">Max value is 100</mat-error>-->
    </mat-form-field>
  </div>

  <mat-error *ngIf="formControl.hasError('emailExists')">
    User with specific email already exists.
  </mat-error>
  <mat-error *ngIf="formControl.hasError('internalError')">
    Something went wrong. Please try again later...
  </mat-error>

  <div>
    <button mat-raised-button color="primary" [disabled]="formControl.invalid">Register</button>
  </div>
</form>
</mat-card-content>
</mat-card>
