<h2 mat-dialog-title>Add players</h2>
<mat-dialog-content>
  <form [formGroup]="formControl" (ngSubmit)="addPlayers(list)">

    <mat-selection-list #list>
      <mat-list-option *ngFor="let member of groupMembers" [value]="member">
        <span class="list-item">{{ member.firstName }} {{ member.lastName }}</span>
      </mat-list-option>
    </mat-selection-list>

    <div>
      <button mat-button mat-dialog-close color="accent">Cancel</button>
      <button mat-button type="submit" color="primary" disabled="{{list.selectedOptions.selected.length == 0}}">Submit</button>
    </div>

  </form>
</mat-dialog-content>
