<h2>Login</h2>
<form [formGroup]="formControl" (ngSubmit)="login()">
    <div>
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="email">
            <mat-error *ngIf="email.hasError('required')">
                Email is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="password">
            <mat-error *ngIf="password.hasError('required')">
                Password is <strong>required</strong>
            </mat-error>
        </mat-form-field>
    </div>

    <mat-error *ngIf="formControl.hasError('invalidCredentials')">
        Invalid email or password. Please try again
    </mat-error>
    <mat-error *ngIf="formControl.hasError('internalError')">
        Something went wrong. Please try again later...
    </mat-error>

    <div>
        <button mat-raised-button color="primary" [disabled]="formControl.invalid">Login</button>
    </div>

    <div>
        <button mat-raised-button color="primary" (click)="navigateToRegistrationPage()">Register</button>
    </div>
</form>
